<div class="container">
  <div class="row">
    <div>
      <h3>コミック</h3>

      <div class ="container">
        <div class="row">
          <div>
            <!--コミック一覧-->
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>タイトル</th>
                  <th>作者</th>
                  <th>出版社</th>
                </tr>
              </thead>
              <tbody>
                <% @comics.each do |comic| %>
                  <tr>
                    <td>
                      <%= link_to comic_path(comic.isbn) do %>
                        <%= image_tag comic.image_url, size: "44x60" %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to comic_path(comic.isbn) do %>
                        <%= comic.title %>
                      <% end %>
                    </td>
                    <td><%= comic.author %></td>
                    <td><%= comic.publisher %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>