<div class="container">
  <divclass="row">
    <div>
      <h3>コミック編集</h3>

      <!-- コミック登録フォーム -->
      <table>
        <%= form_with model: @comic, url: admin_comic_path, method: :patch, local: true do |f| %>
          <tr>
            <td><%= f.label "コミックイメージ" %></td>
            <td><%= f.attachment_field :comic_image, size: "220x300" %></td>
          </tr>
          <tr>
            <td><%= f.label "コミックタイトル" %></td>
            <td><%= f.text_field :title, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label "作者" %></td>
            <td><%= f.text_field :author, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label "出版社" %></td>
            <td><%= f.text_field :publisher, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label "ストーリー" %></td>
            <td><%= f.text_field :body, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label "カテゴリー" %></td>
            <td><%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "--選択してください--") %></td>
          </tr>
          <tr>
            <td><%= f.submit "更新する", class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>