<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark ma-auto">
    <buttun class="navbar-toggler" type="buttun" data-toggle="collapse" data-target="#navbarVavDropdown" aria-controls="nabarNavDropdown" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </buttun>

    <div class="collapse navbar-collapse bg-dark text-light" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <!-- userがログイン時-->
        <% if user_signed_in? %>
        <p>
          <%= link_to root_path do %>
            <p>LOGO</p>
          <% end %>
        </p>
        <li>
          <%= link_to homes_about_path do %>
            <p>About</p>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            Mypage
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Logout
          <% end %>
        </li>

        <!-- 管理人がログイン時 -->
        <% elsif admin_signed_in? %>
        <p>
          <%= link_to admin_path do %>
            <p>LOGO</p>
          <% end %>
        </p>
        <li>
          <%= link_to homes_about_path do %>
            <p>About</p>
          <% end %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>

        <!-- どちらもログインしていない時 -->
        <% else %>
        <p>
          <%= link_to root_path do %>
            <p>LOGO</p>
          <% end %>
        </p>
        <li>
          <%= link_to homes_about_path do %>
            <p>About</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <p>新規登録</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
           <p>LOGIN</p>
          <% end %>
        </li>

        <% end %>

      </ul>

    </div>

  </nav>
</header>